body {
    background-color: #eee;
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    padding: 2em;
}

.container {
    @media (min-width: 576px) { ... };
    
}



.table {
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.highlight {
    text-decoration: line-through;
}



